body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/background/background-regist.jpeg);
    background-size: cover;
    font-family: "font-utama";
    overflow-x: hidden;
  }