body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/background/hero-home.jpg);
  background-size: cover;
  background-position: center;
  font-family: "font-utama";
  overflow-x: hidden;
}